@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: white;
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 18rem;
  display: flex;
}

section {
  padding: 2rem 0;
  padding-top: 12rem;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  color: gray;
  font-size: 1rem;
  padding-top: 2rem;
}

i {
  font-size: 2rem;
}

.p1:hover {
  color: #dcdfdb;
  cursor: pointer;
}

.p2:hover {
  color: #dcdfdb;
  cursor: pointer;
}

.p3:hover {
  color: #dcdfdb;
  cursor: pointer;
}

.my-name {
  position: relative;
  color: #252839;
  -webkit-text-stroke: 0.01rem #383d52;
}

.my-name::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #42fb9e;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #42fb9e;
  overflow: hidden;
  animation: animate 3s linear infinite;
}
@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.navbar {
  position: fixed;
  background-color: var(--bg-secondary);
  transition: width 200ms ease, opacity 200ms ease-in-out;
  opacity: 1;
  z-index: 10;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
}

.logo {
  transform: translateY(-8rem);
}

.nav-item {
  width: 100%;
  margin-top: 2rem;
}

.nav-link {
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.nav-link:hover {
  color: #f3fff2;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.link-text-about {
  display: none;
  margin-left: 1rem;
  transform: translateX(9px);
}

.nav-link i {
  font-size: 2rem;
  margin: 0 1rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo i {
  transform: rotate(0deg);
  transition: transform 600ms;
  transform: translateX(5px);
}

.navbar:hover .logo i {
  transform: rotate(-900deg);
}

.fa-user {
  transform: translateX(4px);
}

.container {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.home {
  width: 30rem;
}

.image {
  width: 30rem;
  margin-left: 10rem;
}

.a-button {
  position: relative;
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 0;
  color: #42fb9e;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 1rem;
  overflow: hidden;
  transition: 0.2s;
}

.a-button:hover {
  color: #1a8a52;
  background: #42fb9e;
  box-shadow: 0 0 10px #21f38a, 0 0 20px #21f38a, 0 0 40px #21f38a;
  transition-delay: 0.85s;
}

.a-button span {
  position: absolute;
  display: block;
}

.a-button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #21f38a);
}

.a-button:hover span:nth-child(1) {
  left: 100%;
  transition: 0.8s;
}

.a-button span:nth-child(2) {
  top: -100%;
  right: 0%;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #21f38a);
}

.a-button:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.2s;
}

.a-button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #21f38a);
}

.a-button:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.4s;
}

.a-button span:nth-child(4) {
  bottom: -100%;
  left: 0%;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #21f38a);
}

.a-button:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.6s;
}

@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
    opacity: 0.7;
  }

  .navbar:hover .link-text {
    display: block;
  }
  .navbar:hover .link-text-about {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}
