@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #222222;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: whitesmoke;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 10%;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 1.6rem;
}

.nav__links li a {
  transition: all 0.3ms ease 0s;
}

.nav__links li a:hover {
  color: blueviolet;
}

button {
  padding: 0.7rem 1.6rem;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.3ms ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
