@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: white;
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #3a5a4a;
}

main {
  margin-left: 18vw;
  display: flex;
}

section {
  padding: 2rem 0;
  padding-top: 12rem;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  color: gray;
  font-size: 1rem;
  padding-top: 2rem;
}

i {
  font-size: 2rem;
}

.p1:hover {
  color: #dcdfdb;
  cursor: pointer;
}

.p2:hover {
  color: #dcdfdb;
  cursor: pointer;
}

.p3:hover {
  color: #dcdfdb;
  cursor: pointer;
}

.my-name {
  position: relative;
  color: #252839;
  -webkit-text-stroke: 0.01rem #383d52;
}

.my-name::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #42fb9e;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #42fb9e;
  overflow: hidden;
  animation: animate 3s linear infinite;
}
@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.navbar {
  position: fixed;
  background-color: var(--bg-secondary);
  transition: width 200ms ease, opacity 200ms ease-in-out;
  opacity: 1;
  z-index: 10;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 11vh;
}

.logo {
  transform: translateY(-7vh);
}

.nav-item {
  width: 100%;
  margin-top: 2rem;
}

.nav-link {
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.nav-link:hover {
  color: #f3fff2;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.link-text-about {
  display: none;
  margin-left: 1rem;
  transform: translateX(9px);
}

.nav-link i {
  font-size: 2rem;
  margin: 0 1rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo i {
  transform: rotate(0deg);
  transition: transform 600ms;
  transform: translateX(5px);
}

.navbar:hover .logo i {
  transform: rotate(-900deg);
}

.fa-user {
  transform: translateX(4px);
}

.container {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.home {
  width: 30rem;
}

.image {
  width: 30rem;
  margin-left: 10vw;
}

.a-button {
  position: relative;
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 0;
  color: #42fb9e;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 1rem;
  overflow: hidden;
  transition: 0.2s;
}

.a-button:hover {
  color: #1a8a52;
  background: #42fb9e;
  box-shadow: 0 0 10px #21f38a, 0 0 20px #21f38a, 0 0 40px #21f38a;
  transition-delay: 0.85s;
}

.a-button span {
  position: absolute;
  display: block;
}

.a-button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #21f38a);
}

.a-button:hover span:nth-child(1) {
  left: 100%;
  transition: 0.8s;
}

.a-button span:nth-child(2) {
  top: -100%;
  right: 0%;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #21f38a);
}

.a-button:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.2s;
}

.a-button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #21f38a);
}

.a-button:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.4s;
}

.a-button span:nth-child(4) {
  bottom: -100%;
  left: 0%;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #21f38a);
}

.a-button:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.6s;
}

.image-message h4 {
  opacity: 0.7;
  font-size: 2rem;
  letter-spacing: 4px;
  text-decoration: none;
  padding: 1rem;
}

.image-message a {
  text-decoration: none;
  color: #42fb9e;
  margin-left: 1rem;
  font-weight: lighter;
}

.image-message a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}

.image-message a:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.fa-long-arrow-alt-right {
  padding-left: 10vw;
}

/* ABOUT ME PAGE */
.about-me {
  width: 30vw;
}

.about-span {
  color: #42fb9e;
}

.about-message a {
  transition: 275ms ease;
  opacity: 1;
  text-decoration: none;
  color: #fff;
}

.about-message a:hover {
  opacity: 0.7;
}

.timeline {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  color: #fff;
}

.timeline-img img {
  width: 175%;
  padding-top: 1rem;
}

/* WORK HEADER */
header {
  background-color: #31313f;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 0 2rem #444457;
}

header li {
  display: inline;
  padding: 6rem;
  font-size: 1.5rem;
}

header li a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease;
}

header li a:hover {
  color: #a3ffb3;
}
/* WORK PAGE */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}

.work-grid {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: 15rem;
  padding-bottom: 4rem;
}

.card p {
  opacity: 1;
  color: #fff;
}

@media screen and (min-width: 600px) {
  .card-big {
    grid-row: span 2 / auto;
    grid-column: span 2 / auto;
  }
  .card-big p {
    font-size: 3rem;
    color: #fff;
    opacity: 1;
  }
  .card p:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
    opacity: 0.7;
  }

  .navbar:hover .link-text {
    display: block;
  }
  .navbar:hover .link-text-about {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}
